@font-face {
  font-display: swap;
  font-family: "Berkeley Mono";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Berkeley-Mono/BerkeleyMono-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Berkeley Mono";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Berkeley-Mono/BerkeleyMono-Bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Berkeley Mono";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/Berkeley-Mono/BerkeleyMono-Italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Berkeley Mono";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/Berkeley-Mono/BerkeleyMono-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/IBM-Plex-Sans/ibm-plex-sans-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/IBM-Plex-Sans/ibm-plex-sans-latin-700-normal.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/IBM-Plex-Sans/ibm-plex-sans-latin-400-italic.woff2") format("woff2");
}
