{{- $defaultColor := .Site.Params.defaultColor | default "auto" -}}
<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale | default "en-us" }}"{{ if eq $defaultColor "dark" }} class="dark"{{ else if eq $defaultColor "light" }} class="light"{{ end }}>
    {{- partial "head.html" . }}
    <body data-theme="{{ $defaultColor }}" class="notransition">
        {{- partial "theme-script.html" . }}
        <div class="frame">
            {{- partial "header.html" . }}
            {{- partial "navigation.html" . }}
            {{- if not .IsHome }}{{ partial "page-prompt.html" . }}{{ end }}
            {{- block "main" . }}{{ end }}
            {{- partial "footer.html" . }}
        </div>
        {{- if and .IsPage (eq .Section "posts") }}{{ partial "post-script.html" . }}{{ end }}
    </body>
</html>
