{{ define "main" }}
<div class="wrapper list-page">
    <header class="article-header">
        <h1>{{ .Title }}</h1>
    </header>
    <main class="page-content" aria-label="{{ .Title }}">
        {{ range .RegularPages.ByDate.Reverse.GroupByDate "2006" }}
        <section aria-labelledby="year-{{ .Key }}">
            <h2 class="post-year" id="year-{{ .Key }}">{{ .Key }}</h2>
            {{ range .Pages }}{{ partial "post-card.html" . }}{{ end }}
        </section>
        {{ end }}
    </main>
</div>
{{ end }}
