{{ define "main" }}
<div class="wrapper post">
    <main aria-label="{{ .Title }}">
        <article>
            <header class="article-header">
                <h1>{{ .Title }}</h1>
                {{ with .Date }}
                <div class="post-meta">
                    <time datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">{{ . | time.Format ":date_medium" }}</time>
                </div>
                {{ end }}
            </header>
            {{ partial "toc.html" . }}
            <div class="page-content">{{ .Content }}</div>
        </article>
    </main>
</div>
{{ end }}
