{{- $toc := .Site.Params.toc -}}

{{- if isset .Params "toc" -}}
    {{ $toc = .Params.toc }}
{{- end -}}

{{- if and $toc .Fragments.Headings -}}
    {{ $tocOpen := false }}
    {{ if or .Site.Params.tocOpen .Params.tocOpen }}
        {{ if not (eq .Params.tocOpen false) }}
            {{ $tocOpen = true }}
        {{ end }}
    {{ end }}
    <details class="toc"{{ if $tocOpen }} open{{ end }}>
        <summary><b>{{ T "single.table_of_contents" }}</b></summary>
        {{ .TableOfContents }}
    </details>
{{- end -}}
