<!DOCTYPE html>
{{- $defaultColor := .Site.Params.defaultColor | default "auto" -}}

{{/* allow website developer to enforce default dark mode */}}
{{- if eq $defaultColor "dark" -}}
<html lang="{{ .Site.Language.Locale }}" class="dark">
{{- else if eq $defaultColor "light" -}}
<html lang="{{ .Site.Language.Locale }}" class="light">
{{- else -}}
<html lang="{{ .Site.Language.Locale }}">
{{- end -}}

{{- partial "head.html" . -}}

<body data-theme="{{ $defaultColor }}" class="notransition">
    {{- partial "scriptsBodyStart.html" . -}}
    <div class="frame">
        {{- partial "header.html" . -}}
        {{- partial "navls.html" . -}}
        {{ partial "promptline.html" (dict "ctx" . "cmd" "cat" "arg" "intro.md" "path" "~") }}
        <div class="wrapper">
            {{ partial "bio" . }}
            <hr class="transcript-separator">
            {{ partial "promptline.html" (dict "ctx" . "cmd" "ls" "arg" "posts/" "path" "~") }}
            <main aria-label="Content">
                {{ $pagesToShow := where .Site.RegularPages "Type" "in" site.Params.mainSections }}
                {{ $posts := $pagesToShow.ByDate.Reverse }}
                {{ range first 5 $posts }}
                {{ partial "postCard" . }}
                {{ end }}
                {{ if gt (len $posts) 5 }}
                <p>
                    {{ range $firstSection := (where .Site.Sections "Section" "in" (first 1 (.Site.Params.mainSections))) }}
                    <a href="{{ $firstSection.Permalink }}">{{ T "home.see_all_posts" }}</a>
                    {{ end }}
                </p>
                {{ end }}
            </main>
        </div>
        {{- partial "footer.html" . -}}
    </div>
    {{- partial "scriptsBodyEnd.html" . -}}
</body>

</html>
